### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]


### Django ###
# System Data
*.log
*.pot
*.pyc
base-*.py
__pycache__/
migrations/

# Environment Value
.venv/
.env
db.sqlite3

# Private Files
_media/
_static/admin/