{% extends 'base.html' %} 
{% block contents %}
<main class="flex-shrink-0">
  <div class="container">
    <div class="card my-5 overflow-y-scroll" style="height: 36rem;">
      <div class="card-body">
        <h1 class="card-title fw-bold mb-4">
          Terms of Use
        </h1>
        <p class="card-text h5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque nisi eget sapien pretium consectetur. Quisque sit amet interdum est, sit amet bibendum tortor. Fusce interdum, velit eu ultrices convallis, massa sem placerat nunc, in varius nisi magna eu ex. Maecenas eget sem molestie, euismod dolor et, pretium elit. Nullam orci turpis, volutpat accumsan imperdiet ut, elementum eget ante. Nullam fermentum blandit augue, varius fermentum elit condimentum nec. In eu augue fermentum nibh scelerisque fringilla sit amet ac nunc. Cras et hendrerit metus.
        </p>
        <p class="card-text h5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque nisi eget sapien pretium consectetur. Quisque sit amet interdum est, sit amet bibendum tortor. Fusce interdum, velit eu ultrices convallis, massa sem placerat nunc, in varius nisi magna eu ex. Maecenas eget sem molestie, euismod dolor et, pretium elit. Nullam orci turpis, volutpat accumsan imperdiet ut, elementum eget ante. Nullam fermentum blandit augue, varius fermentum elit condimentum nec. In eu augue fermentum nibh scelerisque fringilla sit amet ac nunc. Cras et hendrerit metus.
        </p>
        <p class="card-text h5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque nisi eget sapien pretium consectetur. Quisque sit amet interdum est, sit amet bibendum tortor. Fusce interdum, velit eu ultrices convallis, massa sem placerat nunc, in varius nisi magna eu ex. Maecenas eget sem molestie, euismod dolor et, pretium elit. Nullam orci turpis, volutpat accumsan imperdiet ut, elementum eget ante. Nullam fermentum blandit augue, varius fermentum elit condimentum nec. In eu augue fermentum nibh scelerisque fringilla sit amet ac nunc. Cras et hendrerit metus.
        </p>
        <p class="card-text h5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque nisi eget sapien pretium consectetur. Quisque sit amet interdum est, sit amet bibendum tortor. Fusce interdum, velit eu ultrices convallis, massa sem placerat nunc, in varius nisi magna eu ex. Maecenas eget sem molestie, euismod dolor et, pretium elit. Nullam orci turpis, volutpat accumsan imperdiet ut, elementum eget ante. Nullam fermentum blandit augue, varius fermentum elit condimentum nec. In eu augue fermentum nibh scelerisque fringilla sit amet ac nunc. Cras et hendrerit metus.
        </p>
        <p class="card-text h5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque nisi eget sapien pretium consectetur. Quisque sit amet interdum est, sit amet bibendum tortor. Fusce interdum, velit eu ultrices convallis, massa sem placerat nunc, in varius nisi magna eu ex. Maecenas eget sem molestie, euismod dolor et, pretium elit. Nullam orci turpis, volutpat accumsan imperdiet ut, elementum eget ante. Nullam fermentum blandit augue, varius fermentum elit condimentum nec. In eu augue fermentum nibh scelerisque fringilla sit amet ac nunc. Cras et hendrerit metus.
        </p>
        <p class="card-text h5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque nisi eget sapien pretium consectetur. Quisque sit amet interdum est, sit amet bibendum tortor. Fusce interdum, velit eu ultrices convallis, massa sem placerat nunc, in varius nisi magna eu ex. Maecenas eget sem molestie, euismod dolor et, pretium elit. Nullam orci turpis, volutpat accumsan imperdiet ut, elementum eget ante. Nullam fermentum blandit augue, varius fermentum elit condimentum nec. In eu augue fermentum nibh scelerisque fringilla sit amet ac nunc. Cras et hendrerit metus.
        </p>
        <p class="card-text h5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pellentesque nisi eget sapien pretium consectetur. Quisque sit amet interdum est, sit amet bibendum tortor. Fusce interdum, velit eu ultrices convallis, massa sem placerat nunc, in varius nisi magna eu ex. Maecenas eget sem molestie, euismod dolor et, pretium elit. Nullam orci turpis, volutpat accumsan imperdiet ut, elementum eget ante. Nullam fermentum blandit augue, varius fermentum elit condimentum nec. In eu augue fermentum nibh scelerisque fringilla sit amet ac nunc. Cras et hendrerit metus.
        </p>
      </div>
    </div>
  </div>
</main>
{% endblock %}