{% extends 'base.html' %} 
{% block contents %}
<main class="flex-shrink-0">
  <div class="container">
    <div class="row row-cols-1 row-cols-md-2 g-4 mt-3 mb-5">
      <div class="col">
        <div class="card border-success h-100 p-3">
          <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <h4 class="fw-bold mb-3">Create Explore</h4>
            <div class="form-floating mb-3">
              <input 
                type="text" 
                class="form-control rounded-3 fw-bold"
                id="Title"
                name="explore_title"
                placeholder="Title of Explore"
                value="{{form.Title.value|default_if_none:''}}"
              />
              <label for="Title">Title of Explore</label>
            </div>
            <div class="form-floating mb-3">
              <textarea 
                type="text" 
                class="form-control rounded-3"
                style="height: 18rem;"
                id="Description"
                name="explore_description"
                placeholder="Description of Explore"
                value="{{form.Description.value|default_if_none:''}}"
              ></textarea>
              <label for="Description">Description of Explore</label>
            </div>
            <div class="form-floating mb-3">
              <div class="input-group">
                <input 
                  type="file" 
                  class="form-control rounded-3" 
                  id="CoverImage"
                  name="explore_cover_image"
                  placeholder="Upload Cover Image for Explore"
                  value="{{form.CoverImage.value|default_if_none:''}}"
                >
              </div>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
              <button class="btn btn-outline-primary fw-bold" type="submit">Upload!</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}